@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a; /* Warna background utama (Dark Mode) */
  color: #f8fafc; /* Warna teks utama (Putih/Terang) */
}